<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script defer src="script/functionAdmin.js"></script>
    <title>Painel de Administrador</title>
</head>

<body>
    <header id="head">
        <h1>Olá, Administrador</h1>
        <a href="http://localhost:3001/login">
            <h1>Logar</h1>
        </a>
        <a href="http://localhost:3001/home">
            <h1>Sair</h1>
        </a>
    </header>

    <div class="admin-panel">

        <div class="slidebar">
            <ul>
                <li><a><button id="atualizar" type="">Atualizar</button></a></li>
                <li><a><button id="criar" type="">Criar</button></a></li>
                <li><a><button id="deleta" type="">Deletar</button></a></li>
                <li><a><button id="list" type="">Listar</button></a></li>
                <li><a><button id="outros" type="">outros</button></a></li>
            </ul>
        </div>

        <main class="main">
            <div class="update visivel">
                <h2>Atualizar</h2>
                <input type="NomeProduto" placeholder="Nome do Produto...">
                <input type="DescricaoProduto" placeholder="Descrição do Produto...">
                <input type="ImagemProduto" placeholder="Imagem do Produto...">
                <input type="PrecoProduto" placeholder="Preco do Produto...">
                <button type="enviar">Enviar</button>
            </div>

            <div class="create">
                <h2>Criar</h2>
                <input type="NomeProduto" placeholder="Nome do Produto...">
                <input type="DescricaoProduto" placeholder="Descrição do Produto...">
                <input type="ImagemProduto" placeholder="Imagem do Produto...">
                <input type="PrecoProduto" placeholder="Preco do Produto...">
                <button type="enviar">Enviar</button>
            </div>

            <div class="delet">
                <h2>Deletar</h2>
                <input type="NomeProduto" placeholder="Nome do Produto...">
                <input type="DescricaoProduto" placeholder="Descrição do Produto...">
                <input type="ImagemProduto" placeholder="Imagem do Produto...">
                <input type="PrecoProduto" placeholder="Preco do Produto...">
                <button type="enviar">Enviar</button>
            </div>

            <div class="list">
                <h2>Listar</h2>
                <input type="NomeProduto" placeholder="Nome do Produto...">
                <input type="DescricaoProduto" placeholder="Descrição do Produto...">
                <input type="ImagemProduto" placeholder="Imagem do Produto...">
                <input type="PrecoProduto" placeholder="Preco do Produto...">
                <button type="enviar">Enviar</button>
            </div>

            <div class="outros">
                <h2>Outros</h2>
                <input type="" placeholder="">
                <input type="" placeholder="">
                <input type="" placeholder="">
                <input type="" placeholder="">
                <button type="enviar">Enviar</button>
            </div>
        </main>
    </div>
</body>

</html>