<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script defer src="javaScript/admin.js"></script>
    <title>Painel de Administrador</title>
</head>

<body>
    <header id="head">
        <h1>Olá, Administrador</h1>
        <a href="http://localhost:3001/login">
            <h1>Logar</h1>
        </a>
        <a href="http://localhost:3001/home">
            <h1>Sair</h1>
        </a>
    </header>

    <div class="admin-panel">

        <div class="slidebar">
            <ul>
                <li><a><button id="atualizar" type="">Atualizar</button></a></li>
                <li><a><button id="criar" type="">Criar</button></a></li>
                <li><a><button id="deleta" type="">Deletar</button></a></li>
            </ul>
        </div>

        <main class="main">

            <div class="update visivel">
                <h2>Atualizar</h2>
                <form action="/admin/editar?_method=PUT" method="POST" enctype="multipart/form-data">
                    <input type="text" name="nomeProduto" value="<%= produto.nome %>">
                    <input type="text" name="descricaoProduto" placeholder="Descrição do Produto...">
                    <input type="file" name="imgProduto" placeholder="Imagem do Produto...">
                    <input type="number" name="precoProduto" value="<%= produto.preco %>">
                    <button type="submit">Enviar</button>
                </form>
            </div>

            <div class="create">
                <h2>Criar</h2>
                <form action="/admin/criar" method="POST" enctype="multipart/form-data">
                    <input type="text" name="nomeProduto" placeholder="Nome do Novo Produto...">
                    <input type="text" name="descricaoProduto" placeholder="Descrição do Novo Produto...">
                    <input type="file" name="imgProduto" placeholder="Imagem do Novo Produto...">
                    <input type="number" name="precoProduto" placeholder="Preço do Novo Produto...">
                    <button type="submit">Enviar</button>
                </form>
            </div>

            <div class="delet">
                <h2>Deletar</h2>
                <form action="/admin/deletar" method="POST" enctype="multipart/form-data">
                    <input type="text" name="nomeProduto" placeholder="...">
                    <input type="text" name="descricaoProduto" placeholder="...">
                    <input type="file" name="imgProduto" placeholder="...">
                    <input type="number" name="precoProduto" placeholder="...">
                    <button type="submit">Enviar</button>
                </form>
            </div>

        </main>
    </div>
</body>

</html>