<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="stylesheets/produto.css">
    <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
</head>

<body>
    <section id="container">
        <div class="product-name">
            <h3></h3>
        </div>
        <div class="product-image">
            <img src="" alt="">
        </div>
        <div class="product-info">
            <h3 class="product-price">VALOR <br></h3>
            <button type="submit" class="buy-button" name="comprar" value="comprar">
                <a href="">COMPRAR</a>
            </button>
            <br><br>
            <button type="submit" class="cart-button" name="carrinho" value="carrinho">
                <a class="adicionar" href="">ADICIONAR <br> AO CARRINHO</a>
            </button>
        </div>
        <div class="product-description">
            <h2>Descrição do Produto</h2>
            <ul class="product-details">
                <li>Fabricante: ,</li>
                <li>Série: ,</li>
                <li>Formato: ,</li>
                <li>Altura: ,</li>
                <li>Largura: ,</li>
                <li>Resolução: ,</li>
                <li>Tipo de processador: ,</li>
                <li>Velocidade: ,</li>
                <li>Tipo de Soquetes: ,</li>
                <li>Núcleos: </li>
            </ul>
        </div>
    </section>
</body>

</html>